<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Merriweather:wght@400;900&family=Roboto:wght@400;700&family=Work+Sans:wght@400;800&display=swap"
        rel="stylesheet">
    <title>DailySudoku</title>
</head>

<body>
    <style>
        table { border-collapse: collapse; font-family: Calibri, sans-serif; width: 100%; height: 100px; font-size: 26px; }
        colgroup, tbody { border: solid thick; }
        td { border: solid medium; height: 1.4em; width: 1.4em; text-align: center;  }
        caption { padding-bottom: 15px; font-size: 26px; }
    </style>
    <table>
    <caption>Sudoku of the day</caption>
    <colgroup><col><col><col>
    <colgroup><col><col><col>
    <colgroup><col><col><col>

        {{#each third}}
            <tbody>
            {{#each row}}
            <tr>
                {{#each cell}}
                    {{#replace "." ""}}<td>{{this}}{{/replace}}
                {{/each}}
            {{/each}}
        {{/each}}
</body>

</html>
