<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
        href="https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap"
        rel="stylesheet" />
    <title>QuoteOfTheDay</title>
</head>

<body>
    <div class="container">
        <div>
            <div style="font-family: 'Parisienne', cursive; font-size: 44px; text-align: center;">Quote of the day</div>
            <div
                style="font-family: 'Source Sans Pro', sans-serif; font-size: 24px; text-align: center; padding-top: 15px;">
                {{quote}}
                <div style="font-family: 'Source Sans Pro', sans-serif; font-size: 20px; padding: 15px;">
                    <div>- {{author}}</div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-style: dashed;" />
</body>

</html>