<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Merriweather:wght@400;900&family=Roboto:wght@400;700&family=Work+Sans:wght@400;800&display=swap"
        rel="stylesheet">
    <title>Font Test</title>
</head>

<body style="font-size: 22px;">
    <div style="font-family: 'Alata', sans-serif; font-weight:400;">This is Alata at weight 400</div>
    <div style="font-family: 'Roboto', sans-serif; font-weight:400;">This is Roboto at weight 400</div>
    <div style="font-family: 'Roboto', sans-serif; font-weight:700;">This is Roboto at weight 700</div>
    <div style="font-family: 'Work Sans', sans-serif; font-weight:400;">This is Work Sans at weight 400</div>
    <div style="font-family: 'Work Sans', sans-serif; font-weight:800;">This is Work Sans at weight 800</div>
    <div style="font-family: 'Merriweather', sans-serif; font-weight:400;">This is Merriweather at weight 400</div>
    <div style="font-family: 'Merriweather', sans-serif; font-weight:900;">This is Merriweather at weight 900</div>
</body>

</html>